.cleanse-article, .cleanse-toc .list-group-item  {
    background-color: rgba(236,238,239,1);
}

.cleanse-article {
    margin: 0 0 16px;
    padding: 16px;
    border-bottom: 1px solid rgb(59,132,196);
}

#article {
    margin: 0 0 16px;
    padding: 16px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border-bottom: 1px solid rgb(59,132,196);
}
.featured-images {
    position: relative;
}
#layout-content > div > div > div.cleanse-news.col-lg-8 > ul > li > div.featured-images.text-center {
    padding-bottom: 16px;
}
.featured-images img {
    max-width: 100%;
    width: 100%;
    margin-right: auto!important;
    margin-left: auto!important;
    display: block!important;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}
#article img:not(.xivdb-ii) {
    max-width: 100%;
    height: auto;
    margin-right: auto!important;
    margin-left: auto!important;
    display: block!important;
}
#article p:first-child img:not(.xivdb-ii) {
    min-width: 100%;
    height: auto;
}

#blog-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    z-index: 1031;
}
#blog-toc a {
    cursor: pointer;
}
#blog-toc a[tag=H3] {
    padding-left: 2rem;
}
#blog-toc a[tag=H4] {
    padding-left: 2.5rem;
}
#blog-toc a[tag=H5] {
    padding-left: 3rem;
}
#blog-toc a[tag=H6] {
    padding-left: 3.5rem;
}
