<div class="post-list card-deck">
    {% for post in posts %}
    <div class="pvp-news-post card">
        {% if post.featured_images.count %}
        {% for image in post.featured_images %}
        <img
                class="featured-images card-img-top"
                data-src="{{ image.filename }}"
                src="{{ image.path }}"
                alt="{{ post.title }}" />
        {% endfor %}
        {% else %}
        <img
                class="featured-images card-img-top"
                data-src="/themes/pvpaissa-organization/assets/images/default.png"
                src="/themes/pvpaissa-organization/assets/images/default.png"
                alt="{{ post.title }}" />
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><a href="/article/{{ post.slug }}">{{ post.title }}</a></h5>
            <p class="card-text">{{ post.excerpt|raw }}</p>
        </div>
        <div class="card-footer d-flex">
            <small class="text-muted "><a class="card-link" href="/article/{{ post.slug }}">Read More</a></small>
            <span class="badge badge-secondary ml-auto">
                <span class="fa fa-comments"></span>
                33
            </span>
        </div>
    </div>
    {% else %}
    <div class="no-data">{{ noPostsMessage }}</div>
    {% endfor %}
</div>